---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="关于我的个人介绍"
	pubDate={new Date('2026-01-21')}
>
	<!-- 方式1: 使用多个 <p> 标签分段 -->
	<p>
		终于，这个博客网站算是正式发布了。
		在这之前，我其实已经自己尝试搭建了很多次。从头写觉得太累，于是去找模板；找了模板又觉得不是自己的，又从头写。
		来来回回这么折腾，我电脑上至少有三个网页文件夹和三四篇没完成的文章（笑）。
		后来因为时间关系，也就没有继续这个工作，可我又一直想自己尝试从头构建一个属于自己的网站。
		拖来拖去，总算是在大四的寒假重启了这个工作，并且就正式决定用这一版本。
		
	</p>

	<p>
		好了，那么介绍一下我自己吧。我是一名大四的CS学生，近期在学习人工智能等相关知识，以后应该也会继续从事前沿科技相关的行业。
		这里是我的个人博客，我会在这里分享一些自己觉得有意思的东西，以及自己学习的心得。
	</p>

	<!-- 方式2: 使用 <section> 标签组织大段落 -->
	<section>
		<h2>联系方式</h2>
		<p>
			如果你对我的项目或文章感兴趣（虽然目前还没有），欢迎通过以下方式联系我：
		</p>
		<ul>
			<li>GitHub: <a href="https://github.com/HuaixiaoYue" target="_blank">HuaixiaoYue</a></li>
			<li>Email: <a href="mailto:Yuehuaixiao@163.com">Yuehuaixiao@163.com</a></li>
		</ul>
	</section>

</Layout>
